/*
FE23 - MP2 - ELVIRA ERICSSON
*/

/*//////////////////////////////////////////////////////////////////////
FOLLOWING CSS IS FOR ROCK-PAPER-SCISSORS GAME
//////////////////////////////////////////////////////////////////////*/
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1cacb79;
}

h1 {
    text-align: center;
    background-color: #f1cacb79;
    padding: 15px 20px;
    border-radius: 10px;
}

input {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid rgb(255, 186, 186);
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}

.username {
    font-size: 20px;
}

#rockPaperScissors {
    display: flex;
    justify-content: space-between;
}

.bothSides {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.bothScores p {
    font-size: 30px;
}

.yourScore {
   text-align: center;
}

.yourHand img {
    width: 80px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.yourHand {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.yourAll img:hover {
    opacity: 0.5;
}

.opponentScore img {
    width: 30px;
}

.opponentScore {
    text-align: center;
}

.opponentHand img {
    width: 80px;
}

.opponentHand {
    display: flex;
    justify-content: center;
    text-align: center;
}

.opponentHandAll img {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

/*//////////////////////////////////////////////////////////////////////
FOLLOWING CSS IS FOR ROCK-PAPER-SCISSORS SCOREBOARD
//////////////////////////////////////////////////////////////////////*/

#scoreBoard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreBoard h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

#scoreBoard p {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

button {
    padding: 20px;
    background-color: rgb(245, 165, 165);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(252, 193, 193);
}